@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-mono: "IBM Plex Mono", monospace;
  --font-serif: "Times New Roman", serif;

  --color-base: var(--color-text-base);
  --color-accent: var(--color-accent);
  --color-fill: var(--color-fill);
  --color-card: var(--color-card);

  /* New brand colors */
  --color-cream: #fdf0d5;
  --color-navy: #003049;
  --color-blue: #669bbc;
}

@utility display-none {
  @apply hidden;
}

@utility focus-outline {
  @apply outline-2 outline-offset-1 outline-fill focus-visible:no-underline focus-visible:outline-dashed;
}

@layer base {
  :root,
  html {
    @apply font-serif;
  }

  html[data-theme="light"] {
    --color-fill: var(--color-cream);
    --color-base: var(--color-navy);
    --color-accent: var(--color-blue);
    --color-card: #ffffff;
  }

  html[data-theme="dark"] {
    --color-fill: var(--color-navy);
    --color-base: var(--color-cream);
    --color-accent: var(--color-blue);
    --color-card: rgba(255, 255, 255, 0.1);
  }

  h1 {
    font-size: 3rem;
    letter-spacing: -0.02em;
    font-weight: bold;
  }
  h2 {
    font-size: 2.5rem;
    font-weight: bold;
  }
  h3 {
    font-size: 2rem;
    font-weight: bold;
  }
  h4 {
    font-size: 1.5rem;
    font-weight: bold;
  }
  body {
    font-size: 1.1rem;
    background-color: var(--color-fill);
    color: var(--color-base);
  }
  caption {
    font-size: 0.9rem;
    color: var(--blue);
  }

  section,
  footer {
    @apply mx-auto max-w-3xl px-4;
  }

  svg {
    @apply inline-block h-6 w-6 fill-base group-hover:fill-accent;
  }

  svg.icon-tabler {
    @apply inline-block h-6 w-6 scale-125 fill-transparent stroke-current stroke-2 opacity-90 group-hover:stroke-accent sm:scale-110;
  }

  /* ===== scrollbar ===== */
  html {
    overflow-y: scroll;
  }

  /* width */
  ::-webkit-scrollbar {
    @apply w-3;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-fill;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-card;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: oklch(from var(--color-card) l c calc(h + 10deg));
  }

  code,
  blockquote {
    word-wrap: break-word;
  }

  pre > code {
    white-space: pre;
  }
}
