---
import AboutMeCard from "@components/AboutMeCard";
import Header from "@components/Header/Header.astro";
import KnowledgeChart from "@components/KnowledgeChart";
import Layout from "@layouts/Layout.astro";
---

<Layout>
  <Header />
  <main class="md:max-w-3xl md:mx-auto px-8 py-3 flex flex-col gap-4">
    <div class="flex justify-between items-end">
      <h1 class="text-5xl font-bold">About Me</h1>
      <!-- Professional mode switch incomming  -->
      <!-- <span class="text-base font-medium">
        Professional mode <span class="underline">On</span> / Off
      </span> -->
    </div>
    <AboutMeCard client:idle />
    <div class="flex flex-col gap-4">
      <h3 class="text-accent">I am friendly by nature</h3>
      <p>
        You know those grumpy faces that you get on the tube at 7:43am when
        going to work? well, that’s not me. I like bringing a little sunshine to
        the world, even when it’s grim. That’s what drives me and luckily I get
        to bring that shine to people using websites sometimes, which is why I
        love what I do.
      </p>
    </div>
    <div class="flex flex-col gap-4">
      <h3 class="text-accent">Here is what I know</h3>
      <p>
        This is not an exhaustive list of the tech I know, but if you see it
        here, you better believe I can do something cool with it, or at least
        not be invaded by dispair when I have to work with it.
      </p>
      <KnowledgeChart client:idle />
    </div>
  </main>
</Layout>
