---
import Layout from '../components/Layout.astro';
import Welcome from '../components/Welcome';
---

<Layout title="Juan Rosero's Website">
	<main class="h-screen">
    <Welcome />
	</main>
</Layout>