---
import { Image } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import profilePic from "../assets/profile-pic.jpg";
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero" class="py-6">
      <div
        class="flex items-center justify-start gap-4 sm:gap-6 mb-6 sm:justify-center"
      >
        <h1
          class="my-3 text-5xl font-bold sm:mt-4 sm:my-2 sm:mb-3 sm:text-5xl sm:text-center mr-2"
        >
          Hello!
        </h1>
        <Image
          src={profilePic}
          alt="Profile picture"
          class="rounded-full w-24 h-24 object-cover border-2 border-accent sm:w-24 sm:h-24"
        />
      </div>
      <h2 class="text-xl">Welcome to El Bloc de Notas!</h2>
      <p class="my-2">
        I use this space as a sandbox for things I find interesting and want to
        share, as well as an entrypoint for people that want to get in touch. I
        hope you find something useful here.
      </p>
      <br />
      <h2 class="text-xl">About me</h2>
      <p class="my-2">
        I'm Juan Rosero, a Front End developer from Ecuador living in London. I
        like coding and lukily I make money doing it so that's good. If you want
        to find more about me please visit my <LinkButton href="/about">
          about
        </LinkButton> page.
      </p>
      <p class="my-2">
        If you are interested in the code, you can find it
        <LinkButton
          className="hover:text-accent underline underline-offset-4 decoration-dashed"
          href="https://github.com/satnaing/astro-paper#readme"
        >
          here.
        </LinkButton>
      </p>
    </section>
  </main>

  <Footer />
</Layout>
