---
import { LOGO_IMAGE, SITE } from "@config";
import Hr from "../Hr.astro";
import NavMenu from "./NavMenu.astro";
---

<header>
  <div
    class="relative flex max-w-3xl mx-auto items-start justify-between px-8 py-4 sm:items-center sm:py-8"
  >
    <a
      href="/"
      class="absolute font-semibold sm:static flex flex-col text-xl sm:text-2xl whitespace-nowrap"
    >
      {
        LOGO_IMAGE.enable ? (
          <img
            src={`/assets/${LOGO_IMAGE.svg ? "logo.svg" : "logo.png"}`}
            alt={SITE.title}
            width={LOGO_IMAGE.width}
            height={LOGO_IMAGE.height}
          />
        ) : (
          SITE.title
        )
      }
      <span class="text-sm text-accent">By {SITE.author}</span>
    </a>
    <NavMenu />
  </div>
  <Hr />
</header>

<script>
  import { isMobileNavOpen } from "./store";

  // Runs on view transitions navigation
  document.addEventListener("astro:after-swap", () => {
    isMobileNavOpen.set(false);
  });
</script>
