---
import socialIcons from "@assets/socialIcons";
import { SOCIALS } from "@config";
import LinkButton from "./LinkButton.astro";

export interface Props {
  centered?: boolean;
}

const { centered = false } = Astro.props;
---

<div class={`justify-center gap-1 ${centered ? "flex" : "flex-wrap"}`}>
  {
    SOCIALS.filter(social => social.active).map(social => (
      <LinkButton
        href={social.href}
        className="p-2 hover:rotate-6 sm:p-1"
        title={social.linkTitle}
      >
        <Fragment set:html={socialIcons[social.name]} />
      </LinkButton>
    ))
  }
</div>

